@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #b58900;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #88c0d0;
@define-color sapphire #74c7ec;
@define-color blue #5e81ac;
@define-color lavender #b4befe;
@define-color text #d8dee9;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #2e3440;
@define-color mantle #181825;
@define-color crust #11111b;
