* {
    border: none;
    min-height: 0;
    min-width: 0;

    font-family: "Lexend", "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: 600;
}

window#waybar {
    background: #191724;
    color: #e0def4;
}

/* ---------------- Workspaces ---------------- */

#workspaces button {
    padding: 1px 7px;
    margin: 3px 2px;

    background: #1f1d2e;
    color: #908caa;

    border-radius: 5px;
    transition: all 0.15s ease;
}

#workspaces button:hover {
    background: #403d52;
    color: #e0def4;
}

#workspaces button.active {
    background: #26233a;
    color: #c4a7e7;
}

#workspaces button.urgent {
    color: #eb6f92;
}

/* ---------------- Modules ---------------- */

#window,
#clock,
#battery,
#wireplumber,
#wireplumber#mic,
#backlight,
#network,
#tray,
#custom-tomat {
    padding: 2px 8px;
    margin: 3px 2px;

    background: #1f1d2e;
    border-radius: 5px;
}

/* ---------------- Colors ---------------- */

#window {
    color: #e0def4;
}

#clock {
    color: #9ccfd8;
}

#battery {
    color: #f6c177;
}

#battery.warning {
    color: #ebbcba;
}

#battery.critical {
    color: #eb6f92;
}

#battery.charging {
    color: #31748f;
}

#network {
    color: #31748f;
}

#backlight {
    color: #f6c177;
}

#wireplumber {
    color: #c4a7e7;
}

#wireplumber.muted {
    color: #6e6a86;
}

#wireplumber#mic {
    color: #ebbcba;
}

#tray {
    color: #908caa;
}

#custom-tomat {
    color: #eb6f92;
}

/* ---------------- Tooltip ---------------- */

tooltip {
    background: #1f1d2e;
    border: 1px solid #c4a7e7;
    border-radius: 6px;
    color: #e0def4;
    padding: 6px;
}
