* {
    min-height: 0px;
    font-family: "jetbrainsmono nerd font", roboto, helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 800;
    border: none;
}

#waybar {
    background-color: transparent;
}

#window#waybar {
    color: #d4be98;
    background-color: #32302f;
    transition: background-color 0.5s;
    border: 2px solid #928374;
}

#waybar .module {
    color: #d4be98;
    margin: -10px 7px -10px 7px;
    padding-left: 2px;
}

#waybar .module:hover {
    color: #7daea3;
}

button {
    background: none;
    box-shadow: none;
    border-radius: 2px;
    padding: 0px 5px;
    margin: 5px 0px;
}

button:hover {
    background: none;
}

#workspaces button {
    background: none;
    color: #928374;
    border-radius: 8px;
    margin: 1em 0px;
    padding: 0px 2px;
}

#workspaces button.active {
    color: #e78a4e;
}

#workspaces button:hover {
    color: #7daea3;
}

#tags button {
    color: #d3869b;
    background: rgba(40, 40, 40, 0.92);
    border-radius: 0px;
    margin: 5px 0px;
}

#tags button.occupied {
    color: #928374;
}

#tags button.focused {
    color: #89b482;
}

#tags button.urgent {
    color: #ea6962;
}

#group-1,
#group-2,
#group-3,
#group-4,
#group-5,
#group-6,
#group-7,
#group-8,
#group-9,
#group-10 {
    background: rgba(40, 40, 40, 0.92);
    margin: 0px 5px;
    border-radius: 6px;
    border: 2px solid #928374;
}

#clock {
    font-size: 14px;
    color: #a9b665;
}

#custom-notification {
    color: #d4be98;
}

#custom-discord,
#custom-reddit,
#custom-instagram,
#custom-whatsapp,
#custom-firefox,
#custom-spotify,
#custom-github {
    font-size: 14px;
    color: #7daea3;
}

#custom-keybinds,
#bluetooth,
#custom-pkg-aur {
    font-size: 13px;
    color: #89b482;
}

#custom-next,
#custom-pause,
#custom-previous {
    font-size: 15px;
    color: #d8a657;
}

#network.disconnected,
#pulseaudio.muted,
#wireplumber.muted {
    color: #ea6962;
}

#battery.charging,
#battery.plugged {
    color: #a9b665;
}

#battery.critical:not(.charging) {
    color: #ea6962;
    animation: blink 0.5s linear infinite alternate;
}

label:focus {
    background-color: rgba(40, 40, 40, 0.92);
}

