// Startup
spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "~/nixos-dotfiles/config/niri/scripts/wallpaper.sh"
spawn-at-startup "hypridle"

// Cursor
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

// Input
input {
    touchpad {
        tap
        natural-scroll
    }

    focus-follows-mouse max-scroll-amount="100%"
}

// Output
output "eDP-1" {
    mode "2560x1440@165.003"
    scale 1.5
    position x=0 y=0
}

// Overview
overview {
    backdrop-color "#32302f"
}

// Layout
layout {
    background-color "transparent"

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        off
    }

    border {
        width 3
        active-color "#928374"
        inactive-color "#3c3836"
    }

    gaps 5

    struts {
        left 7
        right 7
        top 7
    }
}

// Animations
animations {
    slowdown 1.0
}

// Window Rules
window-rule {
    match app-id="foot"
    opacity 0.9
    draw-border-with-background false
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

// Misc
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

// Keybindings
binds {
    Mod+Tab { toggle-overview; }
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+S { toggle-window-floating; }

    Mod+Return { spawn "foot"; }
    Mod+R { spawn "fuzzel"; }
    Mod+B { spawn "firefox"; }
    Mod+Shift+X { spawn "hyprlock"; }
    Mod+E { spawn "nautilus" "--new-window"; }

    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "sh" "-c" "cur=$(wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{print int($2*100)}'); [ \"$cur\" -lt 150 ] && wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+ || wpctl set-volume @DEFAULT_AUDIO_SINK@ 1.5"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"
    }
    XF86AudioMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"
    }

    XF86MonBrightnessDown { spawn "brightnessctl" "set" "2%-"; }
    XF86MonBrightnessUp   { spawn "brightnessctl" "set" "+2%"; }

    Mod+Q { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Up    { focus-window-up; }
    Mod+Down  { focus-window-down; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Down  { move-window-down; }

    Mod+Page_Up   { focus-workspace-up; }
    Mod+Page_Down { focus-workspace-down; }

    Mod+Shift+Page_Up   { move-column-to-workspace-up; }
    Mod+Shift+Page_Down { move-column-to-workspace-down; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }

    Mod+D { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Print       { screenshot; }
    Ctrl+Print  { screenshot-screen; }
    Alt+Print   { screenshot-window; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }
}

