cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

prefer-no-csd

blur {
    off
    passes 3
    offset 8
    noise 0.03
    saturation 2.2
}

overview {
    backdrop-color "#141415"
}
