cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

prefer-no-csd

blur {
    on
    passes 2
    offset 5
    noise 0.02
    saturation 2.2
}

overview {
    backdrop-color "#141415"
}
